<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.0.1" targetFramework="net472" />
  <package id="CustomizableMessageBox" version="2.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Sdl.MultiSelectComboBox" version="1.0.60" targetFramework="net48" />
</packages>